In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("Review.csv")
data

                                              Review
0  I like this books very much!!! It is VERY INTE...
1  Do not like this book. so boring 2. Too length...

In [4]:
import string

In [5]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [31]:
def remove_punctuation(text):
    punctuation_free = ""
    for i in text:
        # Check if the character is not in the string.punctuation set
        if i not in string.punctuation:
            # If not, add the character to the result string
            punctuation_free += i                                                                  
    return punctuation_free
data['clean_punctuation']= data['Review'].apply(remove_punctuation)
data
data['clean_lower']= data['clean_punctuation'].str.lower()
data

,Review,clean_punctuation,clean_lower
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...,i like this books very much it is very interes...
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy,do not like this book so boring 2 too lengthy

In [32]:
import re

In [33]:
def remove_numbers(text):
    return re.sub("[\d-]",'',text)
data['clean_number'] = data['clean_lower'].apply(remove_numbers)
data

,Review,clean_punctuation,clean_lower,clean_number
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...,i like this books very much it is very interes...,i like this books very much it is very interes...
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy,do not like this book so boring 2 too lengthy,do not like this book so boring too lengthy

In [35]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

,Review,clean_punctuation,clean_lower,clean_number,token_data
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...,i like this books very much it is very interes...,i like this books very much it is very interes...,"[i, like, this, books, very, much, it, is, ver..."
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy,do not like this book so boring 2 too lengthy,do not like this book so boring too lengthy,"[do, not, like, this, book, so, boring, too, l..."

In [36]:
from nltk.tokenize import word_tokenize

data['token_data']= data['clean_number'].apply(word_tokenize)
data

,Review,clean_punctuation,clean_lower,clean_number,token_data
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...,i like this books very much it is very interes...,i like this books very much it is very interes...,"[i, like, this, books, very, much, it, is, ver..."
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy,do not like this book so boring 2 too lengthy,do not like this book so boring too lengthy,"[do, not, like, this, book, so, boring, too, l..."

In [37]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [38]:
stopwords = nltk.corpus.stopwords.words('english')

In [39]:
print(stopwords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [40]:
def remove_stopwords(text):
    output = []
    for i in text:
        if i not in stopwords:
            output.append(i)
    return output

In [41]:
data['clean_xstopwords'] = data['token_data'].apply(remove_stopwords)
data

,Review,clean_punctuation,clean_lower,clean_number,token_data,clean_xstopwords
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...,i like this books very much it is very interes...,i like this books very much it is very interes...,"[i, like, this, books, very, much, it, is, ver...","[like, books, much, interesting]"
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy,do not like this book so boring 2 too lengthy,do not like this book so boring too lengthy,"[do, not, like, this, book, so, boring, too, l...","[like, book, boring, lengthy]"

In [42]:
from nltk.stem.porter import PorterStemmer

In [43]:
porter_stemmer = PorterStemmer()

In [44]:
def stemming(text):
    stem_text = []
    for word in text:
        stemmed_word = porter_stemmer.stem(word)
        stem_text.append(stemmed_word)
    return stem_text

In [45]:
data['clean_stemmed'] = data['clean_xstopwords'].apply(stemming)
data

,Review,clean_punctuation,clean_lower,clean_number,token_data,clean_xstopwords,clean_stemmed
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...,i like this books very much it is very interes...,i like this books very much it is very interes...,"[i, like, this, books, very, much, it, is, ver...","[like, books, much, interesting]","[like, book, much, interest]"
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy,do not like this book so boring 2 too lengthy,do not like this book so boring too lengthy,"[do, not, like, this, book, so, boring, too, l...","[like, book, boring, lengthy]","[like, book, bore, lengthi]"

In [46]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...

True

In [47]:
from nltk.stem import WordNetLemmatizer

In [48]:
wordnet_lemmatizer = WordNetLemmatizer()

In [49]:
def lemmatizer(text):
    lemm_text = []
    for word in text:
        lemmatized_word = wordnet_lemmatizer.lemmatize(word)
        lemm_text.append(lemmatized_word)
    return lemm_text

In [50]:
data['clean_lemmatized1']=data['clean_xstopwords'].apply(lemmatizer)

In [51]:
data['clean_lemmatized2']=data['clean_stemmed'].apply(lemmatizer)
data

,Review,clean_punctuation,clean_lower,clean_number,token_data,clean_xstopwords,clean_stemmed,clean_lemmatized1,clean_lemmatized2
0,I like this books very much!!! It is VERY INTE...,I like this books very much It is VERY INTERES...,i like this books very much it is very interes...,i like this books very much it is very interes...,"[i, like, this, books, very, much, it, is, ver...","[like, books, much, interesting]","[like, book, much, interest]","[like, book, much, interesting]","[like, book, much, interest]"
1,Do not like this book. so boring 2. Too length...,Do not like this book so boring 2 Too lengthy,do not like this book so boring 2 too lengthy,do not like this book so boring too lengthy,"[do, not, like, this, book, so, boring, too, l...","[like, book, boring, lengthy]","[like, book, bore, lengthi]","[like, book, boring, lengthy]","[like, book, bore, lengthi]"